@{
    ViewData["Title"] = "Pharmacy";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fontstyle.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/style.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style>

    #logbox {
        padding: 10px;
        margin: 50px auto;
        width: 340px;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }

    h2 {
        text-align: center;
        color: black;
    }

    @*a {
        color: inherit;
    }*@

    .input {
        width: 75%;
        height: 50px;
        display: block;
        margin: 0 auto 15px;
        padding: 0 15px;
        border: none;
        border-bottom: 2px solid #ebebeb;
    }

    .input:focus {
        outline: none;
        border-bottom-color: #3CC !important;
    }

    .input:hover {
        border-bottom-color: #dcdcdc;
    }

    .input:invalid {
        box-shadow: none;
    }

    .pass:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
    }

    .inputButton {
        position: relative;
        width: 85%;
        height: 50px;
        display: block;
        margin: 30px auto 30px;
        color: white;
        background-color: #3CC;
        border: none;
        -webkit-box-shadow: 0 5px 0 #2CADAD;
        -moz-box-shadow: 0 5px 0 #2CADAD;
        box-shadow: 0 5px 0 #2CADAD;
    }

    .inputButton:hover {
        top: 2px;
        -webkit-box-shadow: 0 3px 0 #2CADAD;
        -moz-box-shadow: 0 3px 0 #2CADAD;
        box-shadow: 0 3px 0 #2CADAD;
    }

    .inputButton:active {
        top: 5px;
        box-shadow: none;
    }

    .inputButton:focus {
        outline: none;
    }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="col-md-12">
                <div id="logbox">
                    <form id="signup" method="post">
                        <h2>Реєстрація</h2>
                        <input name="name" type="text" placeholder="Введіть ім'я" pattern="^[\w]{3,16}$" autofocus="autofocus" required="required" class="input pass" />
                        <input name="lastname" type="text" placeholder="Введіть прізвище" pattern="^[\w]{3,16}$" autofocus="autofocus" required="required" class="input pass" />
                        <input name="phone" type="text" placeholder="Введіть телефон" required="required" class="input pass" />
                        <input name="email" type="email" placeholder="Введіть пошту" required="required" class="input pass" />
                        <input name="password" type="password" placeholder="Введіть пароль" required="required" class="input pass" />
                        <input type="submit" value="ЗАРЕЄСТРУВАТИСЯ" class="inputButton" />
                        <div class="text-center">
                            Вже є акаунт? <a asp-controller="User" asp-action="SignIn" id="login_id">Увійти</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

