@model Tovar
@{
    ViewData["Title"] = "Замовлення";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pharma &mdash; Colorlib Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a asp-controller="Home" asp-action="Index">Головна</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">Замовлення</strong>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="Thankyou" method="post">
        <div class="site-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 mb-5 mb-md-0">
                        <h2 class="h3 mb-3 text-black">Деталі</h2>
                        <div class="p-3 p-lg-5 border">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="c_fname" class="text-black">Ім'я <span class="text-danger"></span></label>
                                    <input type="text" class="form-control" required="required" id="c_fname" name="c_fname">
                                </div>
                                <div class="col-md-6">
                                    <label for="c_lname" class="text-black">Прізвише <span class="text-danger"></span></label>
                                    <input type="text" class="form-control" required="required" id="c_lname" name="c_lname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="c_city" class="text-black">Місто <span class="text-danger"></span></label>
                                <input type="text" class="form-control" required="required" id="c_fname" name="c_fname">
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_address" class="text-black">Адреса <span class="text-danger"></span></label>
                                    <input type="text" class="form-control" required="required" id="c_address" name="c_address" placeholder="Вулиця">
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Квартира">
                            </div>

                            <div class="form-group row">

                                <div class="col-md-6">
                                    <label for="c_postal_zip" class="text-black">Zip <span class="text-danger"></span></label>
                                    <input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
                                </div>
                            </div>

                            <div class="form-group row mb-5">
                                <div class="col-md-6">
                                    <label for="c_email_address" class="text-black">Електронна пошта <span class="text-danger"></span></label>
                                    <input type="text" class="form-control" id="c_email_address" required="required" name="c_email_address">
                                </div>
                                <div class="col-md-6">
                                    <label for="c_phone" class="text-black">Номер телефону <span class="text-danger"></span></label>
                                    <input type="text" class="form-control" id="c_phone" name="c_phone" required="required" placeholder="Номер телефону">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">


                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h2 class="h3 mb-3 text-black">Замовлення</h2>
                                <div class="p-3 p-lg-5 border">
                                    <table class="table site-block-order-table mb-5">
                                        <thead>
                                        <th>Продукт</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong class="mx-2">@Model.Name></strong></td>
                                                <td><h3 class="form-control text-center">₴ @Model.Price</h3></td>
                                            </tr>
                                            <tr>
                                                <td>Кількість <strong class="mx-2"></strong></td>
                                                <td>
                                                    <input type="text" class="form-control text-center" value="1" placeholder=""
                                                           aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <input type="submit" value="Замовити" class="inputButton buy-now btn btn-sm height-auto px-4 py-3 btn-primary" />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- </form> -->
            </div>

        </div>
    </form>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/main.js"></script>

</body>

</html>