@{
    ViewData["Title"] = "Про Нас";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pharma &mdash; Colorlib Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="site-wrap">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <a asp-controller="Home" asp-action="Index">Головна</a> <span class="mx-2 mb-0">/</span>
                        <strong class="text-black">Про Нас</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section bg-light custom-border-bottom aos-init aos-animate" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="block-16">
                            <figure>
                                <img src="~/images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                                

                            </figure>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">


                        <div class="site-section-heading pt-3 mb-4">
                            <h2 class="text-black">Сертифікат ISO</h2>
                        </div>
                        <p>
                            Сертифікат ISO підтверджує, що підприємство працює згідно міжнародних стандартів управління, і є додатковою гарантією належної якості товарів і послуг, які пропонує компанія своїм клієнтам.
                            Вимоги стандарту ISO 9001 торкаються усіх робіт, від якісного виконання яких прямо залежить кінцева якість товарів чи послуг: відбір і оцінка постачальників, перевірка закупленого
                            товару, транспортування і зберігання товарів у належних умовах, підготовка та підвищення кваліфікації працівників.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="site-section bg-light custom-border-bottom  aos-init aos-animate" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6 order-md-2">
                        <div class="block-16">
                            <figure>
                                <img src="~/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-5 mr-auto">


                        <div class="site-section-heading pt-3 mb-4">
                            <h2 class="text-black">Наші Цінності</h2>
                        </div>
                        <p>
                            Повага, людиноцентричність, професіоналізм, розвиток, відповідальність і чесність є нашими корпоративними цінностями, на яких ми будуємо свою роботу. Людина у центрі нашої діяльності, тому, з одного боку, намагаємося бути уважними й людяними до своїх клієнтів, надаючи
                            їм фахову фармопіку та сучасні онлайн-послуги, а з другого – піклуємося про своїх працівників, пропонуючи їм гідну оплату та комфортні умови праці, простір і можливості для професійного росту.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/main.js"></script>

</body>

</html>